@model EntitiyLayer.Concrete.Message2



@{
    ViewData["Title"] = "MessageDetails";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Mesaj Detay Sayfası</h1>


    <div class="mb-3" hidden>
        <label asp-for="MessageID" class="form-label">BlogID</label>
    <input type="text" asp-for="MessageID" class="form-control" placeholder="">
    </div>
    <div class="mb-3">
        <label asp-for="Subject" class="form-label">Mesaj Başlığı</label>
    <input type="text" asp-for="Subject" class="form-control" placeholder="name@example.com">
    </div>

    <div class="mb-3">
        <label asp-for="MessageDetails" class="form-label">Mesaj İçeriği</label>
    <textarea asp-for="MessageDetails" class="form-control" placeholder="" rows="5"></textarea>
    </div>
  

    <a href="/Message/InBox/" class="btn btn-info">Mesajlara Dön</a>

